@inherits LayoutComponentBase
@inject CustomAuthenticationStateProvider AuthenticationStateProvider


<MudThemeProvider />
<MudPopoverProvider />

<MudDialogProvider />

<MudSnackbarProvider />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <p >Привет @context.User.Identity.Name</p>
                    <MudButton Variant="Variant.Text" OnClick="Logout">Выйти</MudButton>

                </Authorized>
                <NotAuthorized>
                    <a href="login" target="_blank">Login</a>
                    <a href="registration" target="_blank">Registration</a>
                </NotAuthorized>
            </AuthorizeView>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        StateHasChanged();
    }

    private async Task Logout()
    {
        await AuthenticationStateProvider.MarkUserAsLoggedOut();
    }
}
